
body {
  background: #f3f3f3;
  padding: 0 10px;
  margin: 0;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

header {
  background: #eee;
  border-bottom: solid 2px #ccc;
  margin: 0 -10px;
  margin-bottom: 5px;
  padding: 4px;
}

.repo-link {
  float: right;
  font-size: 12px;
  margin-right: 5px;
}