
body {
  background: #f3f3f3;
  padding: 0 10px;
  margin: 0;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

header {
  background: #eee;
  border-bottom: solid 2px #ccc;
  margin: 0 -10px;
  margin-bottom: 5px;
  padding: 4px;
}

.repo-link {
  float: right;
  font-size: 12px;
  margin-right: 5px;
}

.pretty-form {
  margin: 2px 3px;
  padding: 2px 5px;
}

.pretty-form fieldset {
  margin: 0;
  border: solid 1px rgba(0,0,0,.2);
}

.pretty-form fieldset > div {
  margin: 8px 0;
}

.pretty-form input:not([type]),
.pretty-form input[type=text] {
  min-width: 200px;
}

.pretty-form label {
  font-family: monospace;
}