@import url("./water.css");

body {
  max-width: initial;
  padding: 0 10px;
  margin: 0;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

header {
  background: #eee3;
  border-bottom: solid 2px #ccc3;
  margin: 0 -10px;
  margin-bottom: 5px;
  padding: 4px;
}

header h1 { /* home page uses this */
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}
summary:hover, summary:focus {
  text-decoration: none; /* override water.css */
}
details .summary-header {
  display: inline-block;
  vertical-align: top;
}
details .summary-header h2 {
  margin: 0;
}
.repo-link {
  float: right;
  font-size: 12px;
  margin-right: 5px;
}

.pretty-form {
  margin: 2px 3px;
  padding: 2px 5px;
}

.pretty-form fieldset {
  margin: 0;
  border: solid 1px rgba(0,0,0,.2);
}

.pretty-form fieldset > div {
  margin: 8px 0;
}

.pretty-form input:not([type]),
.pretty-form input[type=text] {
  min-width: 200px;
}

.pretty-form label {
  font-family: monospace;
}